.idea/
.venv/
supersecretdevtools/
__pycache__/

*.py[cod]
/build/unix/main.dist/_blake2.so
/build/unix/main.dist/numpy/random/_bounded_integers.so
/build/unix/main.dist/_bz2.so
/build/unix/main.dist/_codecs_cn.so
/build/unix/main.dist/_codecs_hk.so
/build/unix/main.dist/_codecs_iso2022.so
/build/unix/main.dist/_codecs_jp.so
/build/unix/main.dist/_codecs_kr.so
/build/unix/main.dist/_codecs_tw.so
/build/unix/main.dist/numpy/random/_common.so
/build/unix/main.dist/_contextvars.so
/build/unix/main.dist/_csv.so
/build/unix/main.dist/_ctypes.so
/build/unix/main.dist/_datetime.so
/build/unix/main.dist/_decimal.so
/build/unix/main.dist/numpy/random/_generator.so
/build/unix/main.dist/_hashlib.so
/build/unix/main.dist/_heapq.so
/build/unix/main.dist/_lzma.so
/build/unix/main.dist/_md5.so
/build/unix/main.dist/numpy/random/_mt19937.so
/build/unix/main.dist/numpy/_core/_multiarray_tests.so
/build/unix/main.dist/numpy/_core/_multiarray_umath.so
/build/unix/main.dist/_multibytecodec.so
/build/unix/main.dist/_opcode.so
/build/unix/main.dist/numpy/random/_pcg64.so
/build/unix/main.dist/numpy/random/_philox.so
/build/unix/main.dist/_pickle.so
/build/unix/main.dist/numpy/fft/_pocketfft_umath.so
/build/unix/main.dist/_posixsubprocess.so
/build/unix/main.dist/_random.so
/build/unix/main.dist/numpy/random/_sfc64.so
/build/unix/main.dist/_sha1.so
/build/unix/main.dist/_sha2.so
/build/unix/main.dist/_sha3.so
/build/unix/main.dist/_socket.so
/build/unix/main.dist/_ssl.so
/build/unix/main.dist/_statistics.so
/build/unix/main.dist/_struct.so
/build/unix/main.dist/numpy/linalg/_umath_linalg.so
/build/unix/main.dist/array.so
/build/unix/main.dist/shaders/basic.frag
/build/unix/main.dist/shaders/basic.vert
/build/unix/main.dist/binascii.so
/build/unix/main.dist/numpy/random/bit_generator.so
/build/unix/main.dist/glcontext/egl.so
/build/unix/main.dist/fcntl.so
/build/unix/main.dist/grp.so
/build/unix/main.dist/libbz2.so.1.0
/build/unix/main.dist/libcrypto.so.3
/build/unix/main.dist/libffi.so.8
/build/unix/main.dist/libgfortran-040039e1-0352e75f.so.5.0.0
/build/unix/main.dist/glfw/libglfw.so.3.4
/build/unix/main.dist/liblzma.so.5
/build/unix/main.dist/libmpdec.so.4
/build/unix/main.dist/libquadmath-96973f99-934c22de.so.0.0.0
/build/unix/main.dist/libscipy_openblas64_-56d6093b.so
/build/unix/main.dist/libssl.so.3
/build/unix/main.dist/main.bin
/build/unix/main.bin
/build/unix/main.dist/math.so
/build/unix/main.dist/moderngl/mgl.so
/build/unix/main.dist/mmap.so
/build/unix/main.dist/numpy/random/mtrand.so
/nuitka-crash-report.xml
/build/unix/main.dist/select.so
/build/unix/main.dist/termios.so
/build/unix/main.dist/unicodedata.so
/build/unix/main.dist/glcontext/x11.so
/build/unix/main.dist/zlib.so
